<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
          <h2 align="center" style="color:grey"> Register new user </h2>
          <br>
            <div class="row text-white">

                <div class="col-sm-6 offset-sm-3 text-center">

                    <div class="info-form">

                          <div class="form-group">
                            <img style="margin:0 auto;" width="100px" height="100px" src="https://www.csuohio.edu/sites/default/files/media/marketing/images/seal.jpg" id="icon" alt="User Icon" />
                          </div>

                            <div class="form-group">
                                <label class="sr-only">CSU ID</label>
                                <input id="csu-id" type="text" class="form-control" placeholder="CSU ID">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">First Name</label>
                                <input id="fname" type="text" class="form-control" placeholder="First Name">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Last Name</label>
                                <input id="lname" type="text" class="form-control" placeholder="Last Name">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Major 1</label>
                                <input id="major_1" type="text" class="form-control" placeholder="Major 1">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Major 2</label>
                                <input id="major_2" type="text" class="form-control" placeholder="Major 2">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input id="password" type="password" class="form-control" placeholder="password">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Confirm Password</label>
                                <input id="re-password" type="password" class="form-control" placeholder="Confirm Password">
                            </div>


                            <button onclick="registerUser()" class="btn btn-success ">Register</button>

                            <button onclick="backToLogin()" class="btn btn-secondary ">Back to login</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


</html>
<style>


</style>

<script>


  function backToLogin() {
    window.location = 'login';
  }

  function registerUser() {
    // check if passwords are same
    var csuid = document.getElementById('csu-id').value;
    var fname = document.getElementById('fname').value;
    var lname = document.getElementById('lname').value;
    var password = document.getElementById('password').value
    var major_1 = document.getElementById('major_1').value
    var major_2 = document.getElementById('major_2').value

    if (document.getElementById('password').value != document.getElementById('re-password').value) {
      alert("Please check if passwords match! Reconfirm password");
      return;
    }
    if (document.getElementById('csu-id').value.length == 0) {
      // // TODO:  A regular expression to check csu id
      alert("Please enter a valid CSU ID");
      return;
    }

    if (document.getElementById('fname').value.length == 0) {
      alert("Please enter your first name");
      return;
    }

    if (document.getElementById('lname').value.length == 0) {
      alert("Please enter your last name");
      return;
    }

    if (document.getElementById('major_1').value.length == 0) {
      // TODO check if major is a valid list of Major. Make it a list ?
      alert("Please enter your major (Major 1)");
      return;
    }

    // add the user to database
    var request = new XMLHttpRequest()


    // Open a new connection, using the GET request on the URL endpoint
    request.open('POST', '/api/addNewUser', true)

    request.onload = function () {
        // Begin accessing JSON data here
        var response = JSON.parse(this.response);
        console.log(response.status);
        if (response.status == 'student exists') {
          alert("A student with this CSU ID already exists");
        } else if (response.status == 'done') {
          alert("Student added successfully");
          window.location.href = "login";
        } else {
          
        }
      }

    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    request.send(JSON.stringify({ "csuid": csuid, "fname": fname, "lname": lname, "password": password, "major_1": major_1}));

  }
</script>
